h1 {
    color: yellow;
    width: 20px;
}

* {
    box-sizing: border-box;
    color: red;
}

.grid {
    color: red;
    width: 20px;
}

.bee {
    font-size: 40px;
    color: darkorange;
    letter-spacing: 30px;
    line-height: 30px;
    font-weight: 500;
    font-family: fantasy;
    text-align: right;
}